<h1 class="current-genre"><%= params[:genre] %></h1>

<% if @games.count == 0 %>
  <h1>There are no games currently in this genre</h1>
<% else %>
<% @games.each do |game| %>
  <h2><%= link_to game.title, game_path(game) %></h2>
  <% end %>
<% end %>
